build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json
Testing/
_deps/

*_discovery.cmake
*_include.cmake
*_tests.cmake

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

*.o
*.obj
*.i
*.s
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.exp

*.dSYM/
vgcore.*
core
perf.data*

*.swp
*.swo
*~
.idea/

.DS_Store
Thumbs.db
desktop.ini